<section id="projects">
  <div class="container">
    <h3 class="text-gradient">Featured Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="project-card shadow-hover">
              <h5>
                <i class="fa fa-microphone"></i>
                <strong><a href="https://github.com/avinayak14/Lucy" target="_blank">Lucy</a></strong>
              </h5>
              <p>A voice enabled web browser that allows people with physical disabilities to operate a computer and surf the web without the use of their hands.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="project-card shadow-hover">
              <h5>
                <i class="fa fa-graduation-cap"></i>
                <strong><a href="https://github.com/avinayak14/Princeton_IW" target="_blank">NLP Independent Research @ Princeton</a></strong>
              </h5>
              <p>I conducted research in Natural Language Processing under my advisor, Dr. Christiane Fellbaum.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="project-card shadow-hover">
              <h5>
                <i class="fa fa-search"></i>
                <strong><a href="https://github.com/avinayak14/DrQA_Research_Paper" target="_blank">DrQA Exploration</a></strong>
              </h5>
              <p>My final project from Princeton's COS 495 class (Special Topics in Natural Language Processing).</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="project-card shadow-hover">
              <h5>
                <i class="fa fa-globe"></i>
                <strong><a href="https://github.com/avinayak14/avinayak14.github.io" target="_blank">Personal Website/Blog</a></strong>
              </h5>
              <p>A website/blog detailing my background, experiences, and posts with facts and opinions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
