<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/avinayak14/Lucy" target="_blank">Lucy</a></strong>
			- A voice enabled web browser that allows people with physical disabilities to
			operate a computer and surf the web without the use of their hands.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/avinayak14/Princeton_IW" target="_blank">NLP Independent Research @ Princeton</a></strong>
			- I conducted research in Natural Language Processing under my advisor,
			Dr. Christiane Fellbaum.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/avinayak14/COS495_FinalProject" target="_blank">DrQA Exploration</a></strong>
			- My final project from Princeton's COS 495 class (Special Topics in Natural Language Processing).
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/avinayak14/avinayak14.github.io" target="_blank">Personal Website/Blog</a></strong>
			- A website/blog detailing my background, experiences, and posts with facts and opinions.
		</h5>

    </div>
  </div>
</div>
</section>
