<section id="vitae">
<div class="container">
  <h3>Work Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://careers.pinterest.com/" target="_blank">Pinterest</a></strong>
			- Software Engineer (2018-present)
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.cs.princeton.edu/ugrad/life-outside" target="_blank">
			Teaching Assistant</a></strong>
			- Helped instruct students at Princeton in COS 217 (Programming Systems), COS 340 (Discrete Math),
			and COS 226 (Algorithms + Data Structures)
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.linkedin.com/in/avinash-nayak-40387198/" target="_blank">Internships</a></strong>
			- Past software internships at Facebook, Amazon, and Five Rings Capital
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://odus.princeton.edu/living/advising" target="_blank">Residential Advisor</a></strong>
			- Served as a Assistant Residential College Advisor (ARCA) at Princeton during senior year
		</h5>


    </div>

    <h3>Education</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.princeton.edu/" target="_blank">Princeton</a></strong>
			- <b>(Summa Cum Laude)</b>   B.S.E. Computer Science, Minor in Cognitive Science
		</h5>
    </div>
  </div>
</div>
</section>
